.main-home {
    width: 100%;
    height: 90vh;
    padding-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.header-home {
    width: 100%;
    height: 80px;
}

.search-number {
    font-size: 4rem;
    font-weight: 600;
}

.search-title {
    padding-left: 10px;
}

.search-input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: #c4c4c4 1px solid;
    padding: 5px 20px;
    color: #c4c4c4;
}

.search-input:hover {
    border: black 1px solid;
    color: #111;
}

.search-input:active {
    border: none;
}

.header-body {
    padding: 20px 20px;
    background-color: #303347;
    color: #fff;
    font-weight: 500;
}

.body-data {
    width: 100%;
    height: 100vh;
}

.scroll-sup {
    width: 700px;
}

.scroll-intern{
    width: 1080px;
    overflow-x: scroll;
}

.line {
    padding: 15px 20px;
}

.detail-icon:hover {
    cursor: pointer;
    color: #000;
}