.card-container {
    position: absolute;
    text-align: center;
}

.card-container .card-data {
    display: inline-block;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.card-container .card-data section {
    display: block;
    background-color: #303347;
    padding: 5px 5px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    font-size: 18px;
    width: 300px;
    min-width: 250px;
    height: 480px;
    min-height: 330px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

.card-container .card-data .full-card {
    display: block;
    background-color: #303347;
    padding: 5px 5px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    font-size: 18px;
    width: 400px;
    min-width: 250px;
    height: 480px;
    min-height: 330px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

.image-super-hero {
    width: 100%;
    height: 200px;
    background-color: red;
    border-radius: 5px;
}

.image-super-hero {
    object-fit: inherit;
}

.data-super-hero {
    text-align: left;
    padding: 5px 0px 0px 3px;
    color: #fff;
}

.css-1oqqzyl-MuiContainer-root {
    padding-right: 0px !important;
}

.name-super-hero {
    text-align: center;
    font-weight: 500;
    padding: 5px 0px;
    text-transform: uppercase;
}

.surname-super-hero {
    font-size: 0.8rem;
    text-transform: lowercase;
}

.edit-surname {
    height: 20px;
    font-size: 0.8rem;
    width: 45%;
    background-color: #21232f;
    border: none;
    word-break: normal;
    padding: 5px 10px;
    margin-top: 3px;
    border-radius: 5px;
    text-align: center;
    color: #eaeaea;
}

.attributes-super-hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99999999;
    line-height: 1.1;
    text-transform: capitalize;
    font-size: 1rem;
}

.text-center {
    padding-top: 10px;
}

.buttons-super-hero {
    width: 100%;
    display: flex;
    padding-top: 5px;
    justify-content: flex-end;
}

.card-container .card-data::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44CE7B);
    border-radius: inherit;
    animation: animate_border .75s linear infinite;
}

@media screen and (max-width: 960px) {
    .card-container .card-data section {
        width: 200px;
        height: 450px;
    }

    .card-container .card-data section {
        width: 280px;
        height: 480px;
    }
}


@keyframes animate_border {
    to {
        transform: translateX(-50%)
    }
}